/* Home */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.main-text {
    margin: 5vh 10vw;
    display: flex;
}

.main-text > .column {
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
    padding-right: 50px;
}

.main-text > .first {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 36px;
    line-height: 50px;
}

.main-text > .second {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 16px;
    line-height: 22.5px;
}

.home-subtext {
    padding-top: 20px;
}

.home-boldsubtext {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px
}