body {
    font-family: neuzeit-grotesk, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#root {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    overflow-x: hidden;
}

/* Home */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.main-text {
    margin: 5vh 10vw;
    display: flex;
}

.column.first {
    font-size: 25px;
    line-height: 36px;
    padding: 20px 0;
    width: 90%;
}

.column.second {
    font-size: 16px;
    line-height: 26px;
    padding: 20px;
}

.home-subtext {
    padding: 10px 0;
}

.home-boldsubtext {
    font-weight: bold;
}

/* Navbar */
.Navbar {
    display: flex;
    flex-flow: column;
    width: 100vw;
}

.nav-after {
    margin-top: auto;
}

.nav-item {
    cursor: pointer;
    padding: 10px 10vw;
    display: flex;
    align-items: center;
}

.nav-item.about {
    background-color: #FFD800;
    margin-top: auto;
}

.nav-item.events {
    background-color: #FF3F19;
}

.nav-item.resources {
    background-color: #00E778;
}

.nav-item.contact {
    background-color: #1F01FF;
}

.nav-plus {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-family: sans-serif;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    background-image: url('./logo.png');
    height: 50px;
    height: 50px;
    width: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10vw;
    cursor: pointer;
}

/* Events */
.events-container {
    display: flex;
    width: 100vw;
    flex-flow: wrap;
    justify-content: center;
    overflow-y: auto;
    font-size: 16px;
}

.event-container {
    margin: 40px;
    padding-bottom: 200px;
    overflow-y: auto;
}

/* Contact */
.contact-container, .resources-container, .about-container {
    margin: 5vh 5vw;
}

.contact-container {
    margin-bottom: auto;
}


.subheader {
    font-weight: 700;
    font-size: 25px;
    margin: 20px 0;
}

.resource-text, .about-text {
    margin: 20px 0;
}

.microheader {
    font-weight: 700;
}