body {
    font-family: neuzeit-grotesk, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#root {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    overflow-x: hidden;
}

.Page {
    height: auto;
    overflow-y: auto;
    flex: 1 1 0;
}

.about-container, .resources-container, .contact-container {
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
    flex: 1 1 0;
    min-height: 100%;
    justify-content: center;
}

.about-container {
    background-color: #FFF3B3;
}

/* Home */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.main-text {
    margin: 5vh 10vw;
    display: flex;
}

.column.first {
    font-size: 25px;
    line-height: 36px;
    padding: 20px 0;
    width: 90%;
}

.column.second {
    font-size: 16px;
    line-height: 26px;
    padding: 20px;
}

.home-subtext {
    padding: 10px 0;
}

.home-boldsubtext {
    font-weight: bold;
}

/* Navbar */
.Navbar {
    display: flex;
    flex-flow: column;
    width: 100vw;
}

.nav-after {
    margin-top: auto;
}

.nav-item {
    cursor: pointer;
    padding: 10px 10vw;
    display: flex;
    align-items: center;
}

.nav-item.about {
    background-color: #FFD800;
    margin-top: auto;
}

.nav-item.events {
    background-color: #FF3F19;
}

.nav-item.resources {
    background-color: #00E778;
}

.nav-item.contact {
    background-color: #1F01FF;
}

.nav-plus {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-family: sans-serif;
}

.logo {
    background-image: url('./logo.png');
    height: 65px;
    width: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10vw;
    cursor: pointer;
}

/* Events */
.events-container {
    display: flex;
    width: 100vw;
    flex-flow: wrap;
    justify-content: center;
    overflow-y: auto;
    font-size: 16px;
    background-color: #FFC5BA;
    flex: 1 1 0;
}

.event-container {
    margin: 40px;
    overflow-y: auto;
}

/* Contact */

.contact-container {
    background-color: #ADC4FF;
}


.subheader {
    font-weight: 700;
    font-size: 25px;
    margin: 20px 0;
}

/* Resources */

.resources-container {
    background-color: #B3F8CB;
    flex-direction: row;
}

.resources-container > .column0 {
    padding-right: 10px;
}

.resources-container > .column1 {
    padding-left: 10px;
}

.resource-text, .about-text {
    margin: 20px 0;
}

.microheader {
    font-weight: 700;
}

/* Bottom */
.bottom-copyright {
    display: flex;
    justify-content: center;
}

.bottom-container {
    padding: 20px 0;
    font-size: 15px;
    text-align: center;
}